@font-face {
  font-family: "Ownglyph_UNZ-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/Ownglyph_UNZ-Rg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Meongi-W-v1.0";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-W-v1.0.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  overflow-x: hidden;
}

body {
  background: skyblue;
  font-size: 1.2rem;
  margin: 0;
  cursor: url("./../imgs/bodycursor.png"), auto;
}

a {
  text-decoration-line: none;
  color: #333;
}

.inner {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

h1 {
  margin: 15px 0px;
}

@media (min-width: 600px) {
  body {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 2rem;
  }
}
.skip {
  position: relative;
  z-index: 3000;
}
.skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
.skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

.backimg {
  background-image: url("./../imgs/sky.jpg");
  background-size: cover;
  z-index: -1;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#header {
  position: sticky;
  top: 0;
  z-index: 5;
  font-size: 1rem;
}
#header .hade {
  background: white;
}
#header .hade .inner {
  display: flex;
  justify-content: space-between;
}
#header .logo {
  font-weight: 500;
  font-size: 1.3rem;
  font-family: "Cafe24Meongi-W-v1.0";
  text-shadow: none;
}
#header a {
  margin: 0px 20px;
  text-shadow: 1px 1px black;
}
#header a:hover {
  color: skyblue;
}

@media (min-width: 600px) {
  #header {
    font-size: 1.4rem;
  }
  #header .logo {
    font-weight: 500;
    font-size: 1.7rem;
    font-family: "Cafe24Meongi-W-v1.0";
    text-shadow: none;
  }
}
@media (min-width: 1024px) {
  #header {
    font-size: 2rem;
  }
  #header .logo {
    font-weight: 500;
    font-size: 2.3rem;
    font-family: "Cafe24Meongi-W-v1.0";
    text-shadow: none;
  }
}
.main {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 4rem;
  font-family: "Ownglyph_UNZ-Rg";
  color: #fff;
  text-shadow: 2px 2px black;
}
.main .my {
  position: relative;
  top: 20px;
  left: -80px;
  z-index: 2;
}
.main .ppt {
  z-index: 2;
  position: relative;
  top: 0px;
  left: 30px;
}
.main .paper {
  z-index: 2;
  position: relative;
  top: -40px;
  left: 380px;
  width: 4rem;
  height: 4rem;
  background-image: url("./../imgs/paper-aer.png");
  background-size: cover;
  transform: scaleY(-1);
  opacity: 0;
}

.titel span {
  position: relative;
  opacity: 0;
  transition: all 1s;
  font-size: 4rem;
}
.titel span:hover {
  transition: all 0.5s;
  font-size: 6rem;
}

@media (min-width: 600px) {
  .main {
    max-height: none;
    font-size: 8rem;
    min-height: 50rem;
  }
  .main .paper {
    position: relative;
    top: -100px;
    left: 900px;
    width: 180px;
    height: 180px;
  }
  .main .my {
    position: relative;
    top: 20px;
    left: -100px;
  }
  .main .ppt {
    position: relative;
    top: 30px;
    left: 0px;
  }
  .titel span {
    transition: all 1s;
    font-size: 8rem;
  }
  .titel span:hover {
    transition: all 0.5s;
    font-size: 12rem;
  }
}
@media (min-width: 1024px) {
  .main {
    max-height: none;
    font-size: 13rem;
    min-height: 45rem;
  }
  .main .paper {
    position: relative;
    top: -150px;
    left: 900px;
    width: 220px;
    height: 220px;
  }
  .main .my {
    position: relative;
    top: 20px;
    left: -200px;
  }
  .main .ppt {
    position: relative;
    top: 30px;
    left: 0px;
  }
  .titel span {
    transition: all 1s;
    font-size: 13rem;
  }
  .titel span:hover {
    transition: all 0.5s;
    font-size: 17rem;
  }
}
.main1 {
  height: 50vh;
  min-height: 300px;
  background: skyblue;
}
.main1 .text {
  font-size: 0.9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.abtitle {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imabout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
  margin: 15px;
}
.imabout .name,
.imabout .maill,
.imabout .barthday,
.imabout .sapp {
  padding: auto;
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%/100%;
  border: 2px solid black;
  overflow: hidden;
  padding: 10px 30px;
  background: #fff;
  max-width: 130px;
}

.abouticon {
  background-size: cover;
  width: 20px;
  height: 20px;
}

.atext {
  font-size: 0.6rem;
  text-align: center;
  width: 80px;
}
.atext p {
  font-weight: 700;
  margin: 0;
}
.atext text {
  cursor: auto;
}

@media (min-width: 600px) {
  .main1 {
    height: 30vh;
    min-height: 380px;
    max-height: 600px;
  }
  .main1 .inner .text {
    font-size: 1.3rem;
  }
  .main1 .abouticon {
    width: 30px;
    height: 30px;
  }
  .main1 .imabout {
    margin: 2vh;
    max-width: 600px;
  }
  .main1 .name,
  .main1 .maill,
  .main1 .barthday,
  .main1 .sapp {
    max-width: 220px;
  }
  .atext {
    font-size: 0.9rem;
    width: 120px;
  }
}
@media (min-width: 1024px) {
  .main1 {
    height: 40vh;
  }
  .main1 .inner .text {
    font-size: 1.8rem;
  }
  .main1 .abouticon {
    width: 40px;
    height: 40px;
  }
  .main1 .imabout {
    margin: 4vh;
    max-width: 1200px;
  }
  .main1 .name,
  .main1 .maill,
  .main1 .barthday,
  .main1 .sapp {
    max-width: 200px;
  }
  .atext {
    width: 160px;
    font-size: 1rem;
  }
}
.user {
  background-image: url("./../imgs/user.png");
}

.maillicon {
  background-image: url("./../imgs/maill.png");
}

.whatsapp {
  background-image: url("./../imgs/whatsapp.png");
}

.calendar {
  background-image: url("./../imgs/calendar.png");
}

.guide {
  background-color: rgba(255, 255, 255, 0.8274509804);
  z-index: 5;
  position: absolute;
  left: 20vw;
  margin-bottom: 3rem;
  opacity: 0;
}

.block {
  position: absolute;
  border: 1px dashed rgb(85, 85, 85);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  z-index: 3;
}

.cursor {
  background-image: url("./../imgs/cursor.png");
  background-size: cover;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: -10px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: cursorguide;
  z-index: 3;
}

.main2 {
  height: 26vh;
  min-height: 220px;
  background: #fff;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.autoslide1 {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 8000px;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-timing-function: linear;
  align-items: center;
  animation-fill-mode: forwards;
  animation-name: slidelaft;
  margin-top: 180px;
}
.autoslide1:hover {
  animation-play-state: paused;
}
.autoslide1 .skilld {
  margin: 0px 10px;
  width: 70px;
  height: 70px;
  background-size: cover;
  transition: all 1s;
  transform: scale(1);
  border: 1px solid black;
  border-radius: 50%;
}
.autoslide1 .skilld:hover {
  transition: all 0.5s;
  transform: scale(1.5);
  border-radius: 10%;
}

@keyframes slidelaft {
  0% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(-20.5%);
  }
}
.skillname {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.8rem;
  position: relative;
  transition: all 1s;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.2666666667);
  color: #fff;
  opacity: 0;
}
.skillname:hover {
  transition: all 0.5s;
  border-radius: 10%;
  opacity: 1;
}

@media (min-width: 600px) {
  .guide {
    left: 30vw;
  }
}
@media (min-width: 1024px) {
  .skill .autoslide1 {
    animation-duration: 14s;
  }
  .skill .autoslide1 div {
    margin: 0px 20px;
  }
  .skill .autoslide1 div .skillname {
    left: -20px;
  }
  .guide {
    left: 35vw;
  }
}
.main3 {
  position: sticky;
  top: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  min-height: 100vh;
  background: rgb(170, 252, 94);
}

.pjtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
  position: absolute;
  background: rgba(170, 252, 94, 0);
  margin: 0px;
  height: 100%;
  width: 100%;
}
.pjtitle text {
  z-index: 3;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  border-right: 1px solid grey;
}

.poject {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
  height: 90vh;
  background: rgb(170, 252, 94);
}

.swiper {
  width: 70%;
  height: 50vh;
  top: -50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #777777;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide .imgpc {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.swiper-slide .imgm {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.code {
  display: none;
  font-size: 0.8rem;
}
.code p {
  margin: 5px;
  font-weight: 700;
  text-shadow: 1px 1px #fff;
}

.pjtext h1 {
  text-shadow: 1px 1px #fff;
}
.pjtext b {
  margin: 5px;
  font-weight: 700;
  text-shadow: 1px 1px #fff;
}

@media (min-width: 600px) {
  .main3 .section {
    flex-direction: row;
  }
  .main3 .section .pjtext {
    width: 50%;
  }
  .main3 .section .pjtext .inner div {
    font-size: 1rem;
  }
  .main3 .section .pjtext .code {
    display: block;
  }
  .main3 .section .swiper {
    top: 0;
    height: 70vh;
    margin-left: 40px;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  #main3 .pjtext {
    width: 45%;
  }
  #main3 .swiper {
    width: 55%;
  }
  #main3 .inner div {
    font-size: 1.2rem;
  }
}
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: #333;
}

.pjtext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20vh;
  font-size: 1rem;
}
.pjtext h1 {
  font-size: 2rem;
  margin: 10px 0px;
}
.pjtext .inner div {
  padding: 3px;
  font-size: 0.8rem;
}

#topbutten {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  width: 45px;
  height: 45px;
  position: fixed;
  opacity: 1;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}

.icon {
  width: 80px;
  height: 80px;
  background: #fff;
  z-index: 2;
  border-radius: 50%;
}

.githuba {
  width: 100%;
  height: 100%;
  z-index: 3;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid #333;
  min-width: 100px;
  width: 10vw;
  font-size: 1.5rem;
  font-weight: 800;
  background: #333;
}
.link a {
  color: #fff;
}

.tans {
  font-size: 1.5rem;
  color: white;
  font-weight: 800;
  margin-bottom: 30px;
}

::-webkit-scrollbar {
  position: absolute;
  width: 5px;
  background-color: rgba(255, 255, 255, 0.973);
  z-index: 1;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(127, 127, 128);
}

.html {
  background-image: url("./../imgs/logo/html.png");
}

.css {
  background-image: url("./../imgs/logo/css.png");
}

.chart {
  background-image: url("./../imgs/logo/chart.js.png");
}

.sass {
  background-image: url("./../imgs/logo/sass.png");
}

.node {
  background-image: url("./../imgs/logo/node.png");
}

.gsap {
  background-image: url("./../imgs/logo/gsap.png");
}

.jqure {
  background-image: url("./../imgs/logo/jquery.png");
}

.js {
  background-image: url("./../imgs/logo/js.png");
}

.mongo {
  background-image: url("./../imgs/logo/mongo.png");
}

.python {
  background-image: url("./../imgs/logo/python.png");
}

.java {
  background-image: url("./../imgs/logo/java.png");
}

.mysql {
  background-image: url("./../imgs/logo/mysql.png");
}

.git {
  background-image: url("./../imgs/logo/git.png");
}

.github {
  background-image: url("./../imgs/logo/github.png");
}

.django {
  background-image: url("./../imgs/logo/django.png");
}/*# sourceMappingURL=main.css.map */