.html {
    background-image: url('./../imgs/logo/html.png');
}
.css {
    background-image: url('./../imgs/logo/css.png');
}
.chart {
    background-image: url('./../imgs/logo/chart.js.png');
}
.sass {
    background-image: url('./../imgs/logo/sass.png');
}
.node {
    background-image: url('./../imgs/logo/node.png');
}
.gsap {
    background-image: url('./../imgs/logo/gsap.png');
}
.jqure {
    background-image: url('./../imgs/logo/jquery.png');
}
.js {
    background-image: url('./../imgs/logo/js.png');
}
.mongo {
    background-image: url('./../imgs/logo/mongo.png');
}
.python {
    background-image: url('./../imgs/logo/python.png');
}
.java {
    background-image: url('./../imgs/logo/java.png');
}
.mysql {
    background-image: url('./../imgs/logo/mysql.png');
}
.git {
    background-image: url('./../imgs/logo/git.png');
}
.github {
    background-image: url('./../imgs/logo/github.png');
}
.django {
    background-image: url('./../imgs/logo/django.png');
}
