html {
    overflow-x: hidden;
}

body {
    font-size: 1.2rem;
    background: skyblue;
    margin: 0;
}

a {
    text-decoration-line: none;
    color: #333;
}
.skip {
    position: relative;
}

.backimg {
    background-image: url('./../imgs/sky.jpg');
    background-size: cover;
    z-index: -1;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.main {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 4rem;
    font-family: 'Ownglyph_UNZ-Rg';
    color: #fff;
    text-shadow: 2px 2px black;
    // max-height: 300px;
    .my {
        position: relative;
        top: 20px;
        left: -80px;
        z-index: 2;
    }
    .ppt {
        z-index: 2;
        position: relative;
        top: 0px;
        left: 30px;
    }
    .paper {
        z-index: 2;
        position: relative;
        top: -40px;
        left: 380px;
        width: 4rem;
        height: 4rem;
        background-image: url('./../imgs/paper-aer.png');
        background-size: cover;
        transform: scaleY(-1);
    }
}

.inner {
    padding-left: $spacer-7;
    padding-right: $spacer-7;
}

.skip {
    position: relative;
    z-index: 3000;

    a {
        position: absolute;
        top: -35px;
        left: 0;
        right: 0;
        display: inline-block;
        padding: 7px 10px 5px;
        background: #333;
        color: #fff;
        text-decoration: none;
        text-align: center;
        opacity: 0;

        &:focus {
            top: 0;
            opacity: 1;
            z-index: 1000;
        }
    }
}

#header {
    position: sticky;
    top: 0;
    z-index: 5;
    .hade {
        background: white;
        .inner {
            display: flex;
            justify-content: space-between;
        }
    }
}

.titel span {
    position: relative;
    opacity: 0;
}

@include mobileMore {
    body {
        font-size: 1.2rem;
    }
    .main {
        max-height: none;
        font-size: 8rem;
        min-height: 50rem;
        .paper {
            position: relative;
            top: -100px;
            left: 900px;
            width: 180px;
            height: 180px;
        }
        .my {
            position: relative;
            top: 20px;
            left: -100px;
        }
        .ppt {
            position: relative;
            top: 30px;
            left: 0px;
        }
    }
    .main3 .section {
        flex-direction: row;
        .swiper {
            height: 70vh;
            margin-left: 40px;
        }
    }
    #autoslide2 {
        display: none;
    }
    .main1 .inner .txt {
        font-size: 1.2rem;
    }
}
@include tabletMore {
    body {
        font-size: 2rem;
    }
    .main {
        max-height: none;
        font-size: 13rem;
        min-height: 50rem;
        .paper {
            position: relative;
            top: -150px;
            left: 900px;
            width: 220px;
            height: 220px;
        }
        .my {
            position: relative;
            top: 20px;
            left: -200px;
        }
        .ppt {
            position: relative;
            top: 30px;
            left: 0px;
        }
    }
    .skill .autoslide1 {
        animation-duration: 14s;
        div {
            margin: 0px 20px;
            .skillname {
                left: -20px;
            }
        }
    }
    #main3 {
        .pjtxt {
            width: 45%;
        }
        .swiper {
            width: 55%;
        }
    }
}

.rkrdjh {
    width: 100px;
    height: 100px;
    background-image: url('./../imgs/paper-aer.png');
    background-size: cover;
}

.profile {
    width: 100%;
    height: 20rem;
}

.main1 {
    height: 50vh;
    min-height: 300px;
    background: skyblue;
    .txt {
        font-size: 0.9rem;
    }
}

.abtitle {
    text-align: center;
}

.about {
    @include flex($fd: column);
}

.imabout {
    @include flex();
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1rem;
    width: 100%;
    .name,
    .maill,
    .barthday,
    .sapp {
        padding: auto;
        opacity: 0;
        @include flex();
        border-radius: 50%/100%; /* 50%로 설정하여 원 모양의 테두리 생성 */
        border: 2px solid black; /* 원의 테두리 스타일 설정 */
        overflow: hidden;
        padding: 10px 30px;
        background: #fff;
    }
}
.user {
    background-image: url('./../imgs/user.png');
    background-size: cover;
    width: 20px;
    height: 20px;
}
.maillicon {
    background-image: url('./../imgs/maill.png');
    background-size: cover;
    width: 20px;
    height: 20px;
}
.whatsapp {
    background-image: url('./../imgs/whatsapp.png');
    background-size: cover;
    width: 20px;
    height: 20px;
}
.calendar {
    background-image: url('./../imgs/calendar.png');
    background-size: cover;
    width: 20px;
    height: 20px;
}
.atxt {
    p {
        font-weight: 700;
        margin: 0;
    }
}

.main2 {
    height: 30vh;
    min-height: 220px;
    background: #fff;
}

.section {
    @include flex($fd: column);
    width: 100vw;
    height: 80vh;
    border-right: 1px solid grey;
}
.main3 {
    min-height: 100vh;
    background: #fff;
}
.pojeat {
    @include flex($jc: flex-start);
    height: 100vh;
    background: greenyellow;
}

#footer {
    height: 200px;
    background: #333;
}

.pjimg {
    background-image: url('./../imgs/cloud.png');
    background-size: cover;
    width: 200px;
    height: 400px;
}

.skill {
    @include flex($fd: column);
}

.swiper {
    width: 70%;
    height: 50vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoslide1 {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 8000px;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: linear;
    align-items: center;
    animation-fill-mode: forwards;
    animation-name: slidelaft;
    &:hover {
        animation-play-state: paused;
    }
    .skilld {
        margin: 0px 10px;
        width: 70px;
        height: 70px;
        background-size: cover;
        transition: all 1s;
        transform: scale(1);
        border: 1px solid black;
        border-radius: 50%;
        &:hover {
            transition: all 0.5s;
            transform: scale(1.5);
            border-radius: 10%;
        }
    }
}
.autoslide1 {
    margin-top: 150px;
}
.skillname {
    @include flex();
    font-size: 0.8rem;
    position: relative;
    transition: all 1s;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: #33333344;
    color: #fff;
    opacity: 0;
    &:hover {
        transition: all 0.5s;
        border-radius: 10%;
        opacity: 1;
    }
}

@keyframes slidelaft {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(-30%);
    }
}

.pjtxt {
    @include flex();
    height: 20vh;
    font-size: 1rem;
    h1 {
        font-size: 2rem;
    }
}

#topbutten {
    @include flex();
    font-size: 0.8rem;
    width: 45px;
    height: 45px;
    position: fixed;
    opacity: 1;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    background: #ffffffcc;
}
.icon {
    width: 80px;
    height: 80px;
    background: #fff;
    z-index: 2;
    border-radius: 50%;
}
.githuba {
    width: 100%;
    height: 100%;
    z-index: 3;
    //background-image: url('./../imgs/logo/github.png');
    //background-size: cover;
}
.html {
    background-image: url('./../imgs/logo/html.png');
}
.css {
    background-image: url('./../imgs/logo/css.png');
}
.chart {
    background-image: url('./../imgs/logo/chart.js.png');
}
.sass {
    background-image: url('./../imgs/logo/sass.png');
}
.node {
    background-image: url('./../imgs/logo/node.png');
}
.gsap {
    background-image: url('./../imgs/logo/gsap.png');
}
.jqure {
    background-image: url('./../imgs/logo/jquery.png');
}
.js {
    background-image: url('./../imgs/logo/js.png');
}
.mongo {
    background-image: url('./../imgs/logo/mongo.png');
}
.python {
    background-image: url('./../imgs/logo/python.png');
}
.java {
    background-image: url('./../imgs/logo/java.png');
}
.mysql {
    background-image: url('./../imgs/logo/mysql.png');
}
.git {
    background-image: url('./../imgs/logo/git.png');
}
.github {
    background-image: url('./../imgs/logo/github.png');
}
.django {
    background-image: url('./../imgs/logo/django.png');
}
