// body default

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    //scrollbar-gutter: stable both-edges;
}

body {
    background: skyblue;
    font-size: 1.2rem;
    margin: 0;
    cursor: url('./../imgs/bodycursor.png'), auto;
}

a {
    text-decoration-line: none;
    color: #333;
}
.inner {
    padding-left: $spacer-7;
    padding-right: $spacer-7;
}
h1 {
    margin: 15px 0px;
}
@include mobileMore {
    body {
        font-size: 1.2rem;
    }
}
@include tabletMore {
    body {
        font-size: 2rem;
    }
}

// skip
.skip {
    position: relative;
    z-index: 3000;

    a {
        position: absolute;
        top: -35px;
        left: 0;
        right: 0;
        display: inline-block;
        padding: 7px 10px 5px;
        background: #333;
        color: #fff;
        text-decoration: none;
        text-align: center;
        opacity: 0;

        &:focus {
            top: 0;
            opacity: 1;
            z-index: 1000;
        }
    }
}

// background-image
.backimg {
    background-image: url('./../imgs/sky.jpg');
    background-size: cover;
    z-index: -1;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}
// header

#header {
    position: sticky;
    top: 0;
    z-index: 5;
    font-size: 1rem;
    .hade {
        height: 80px;
        background: white;
        .inner {
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
        }
    }
    .logo {
        font-weight: 500;
        font-size: 1.3rem;
        font-family: 'Cafe24Meongi-W-v1.0';
        text-shadow: none;
    }
    a {
        margin: 0px 20px;
        transition: color 0.3s;
        text-shadow: 1px 1px black;

        // &:hover {
        //     color: skyblue;
        // }
    }
}

#logo {
    color: transparent; /* Make text color transparent */
    -webkit-background-clip: text; /* Clip gradient to text */
    background-clip: text;
}
@include mobileMore {
    #header {
        font-size: 1.4rem;
        .logo {
            font-weight: 500;
            font-size: 1.7rem;
            font-family: 'Cafe24Meongi-W-v1.0';
            text-shadow: none;
        }
    }
}
@include tabletMore {
    #header {
        font-size: 2rem;
        .logo {
            font-weight: 500;
            font-size: 2.3rem;
            font-family: 'Cafe24Meongi-W-v1.0';
            text-shadow: none;
        }
    }
}

// main

.main {
    user-select: none;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 4rem;
    font-family: 'Ownglyph_UNZ-Rg';
    color: #fff;
    text-shadow: 2px 2px black;
    // max-height: 300px;
    .my {
        position: relative;
        top: 20px;
        left: -80px;
        z-index: 2;
    }
    .ppt {
        z-index: 2;
        position: relative;
        top: 0px;
        left: 30px;
    }
    .paper {
        z-index: 2;
        position: relative;
        top: -40px;
        left: 380px;
        width: 4rem;
        height: 4rem;
        background-image: url('./../imgs/paper-aer.png');
        background-size: cover;
        transform: scaleY(-1);
        opacity: 0;
    }
}

.titel span {
    position: relative;
    opacity: 0;
    transition: all 1s;
    font-size: 4rem;
    &:hover {
        transition: all 0.5s;
        font-size: 6rem;
    }
}

@include mobileMore {
    .main {
        max-height: none;
        font-size: 8rem;
        min-height: 50rem;
        .paper {
            position: relative;
            top: -100px;
            left: 900px;

            width: 180px;
            height: 180px;
        }
        .my {
            position: relative;
            top: 20px;
            left: -100px;
        }
        .ppt {
            position: relative;
            top: 30px;
            left: 0px;
        }
    }
    .titel span {
        transition: all 1s;
        font-size: 8rem;
        &:hover {
            transition: all 0.5s;
            font-size: 12rem;
        }
    }
}
@include tabletMore {
    .main {
        max-height: none;
        font-size: 13rem;
        min-height: 45rem;
        .paper {
            position: relative;
            top: -150px;
            left: 900px;
            width: 220px;
            height: 220px;
        }
        .my {
            position: relative;
            top: 20px;
            left: -200px;
        }
        .ppt {
            position: relative;
            top: 30px;
            left: 0px;
        }
    }
    .titel span {
        transition: all 1s;
        font-size: 13rem;
        &:hover {
            transition: all 0.5s;
            font-size: 17rem;
        }
    }
}

// main1
.main1 {
    height: 60vh;
    min-height: 300px;
    background: skyblue;
    .text {
        font-size: 0.9rem;
        user-select: none;
    }
    div {
        margin: 15px 0px;
    }
}
.abtitle {
    text-align: center;
    user-select: none;
}

.about {
    @include flex($fd: column);
}

.imabout {
    @include flex();
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
    margin: 15px;
    .name,
    .maill,
    .barthday,
    .sapp {
        padding: auto;
        opacity: 0;
        @include flex($jc: space-around);
        border-radius: 50%/100%;
        border: 2px solid black;
        overflow: hidden;
        padding: 10px 30px;
        background: #fff;
        max-width: 130px;
    }
}
.abouticon {
    background-size: cover;
    width: 20px;
    height: 20px;
}
.atext {
    font-size: 0.6rem;
    text-align: center;
    width: 80px;
    p {
        font-weight: 700;
        margin: 0;
    }
    text {
        cursor: auto;
    }
}

@include mobileMore {
    .main1 {
        height: 30vh;
        min-height: 380px;
        max-height: 600px;
        .inner .text {
            font-size: 1.3rem;
        }
        .abouticon {
            width: 30px;
            height: 30px;
        }
        .imabout {
            margin: 2vh;
            max-width: 600px;
        }
        .name,
        .maill,
        .barthday,
        .sapp {
            max-width: 220px;
        }
    }
    .atext {
        font-size: 0.9rem;
        width: 120px;
    }
}
@include tabletMore {
    .main1 {
        height: 80vh;
        .inner .text {
            font-size: 1.8rem;
        }
        .abouticon {
            width: 40px;
            height: 40px;
        }
        .imabout {
            margin: 4vh;
            max-width: 1200px;
        }
        .name,
        .maill,
        .barthday,
        .sapp {
            max-width: 200px;
        }
    }
    .atext {
        width: 160px;
        font-size: 1rem;
    }
}
.user {
    background-image: url('./../imgs/user.png');
}
.maillicon {
    background-image: url('./../imgs/maill.png');
}
.whatsapp {
    background-image: url('./../imgs/whatsapp.png');
}
.calendar {
    background-image: url('./../imgs/calendar.png');
}

//main2

.guide {
    background-color: #ffffffd3;
    z-index: 5;
    position: absolute;
    left: 20vw;
    margin-bottom: 3rem;
    opacity: 0;
}
.block {
    position: absolute;
    border: 1px dashed rgb(85, 85, 85);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    z-index: 3;
}
.cursor {
    background-image: url('./../imgs/cursor.png');
    background-size: cover;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    left: -10px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: cursorguide;
    z-index: 3;
}
.main2 {
    height: 44vh;
    min-height: 220px;
    background: #fff;
    border-bottom: 1px solid black;
}
.skill {
    @include flex($fd: column);
    padding: 20px 0px;
}
.autoslide1 {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 8000px;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: linear;
    align-items: center;
    animation-fill-mode: forwards;
    animation-name: slidelaft;
    margin-top: 370px;
    &:hover {
        animation-play-state: paused;
    }
    .skilld {
        margin: 0px 10px;
        width: 70px;
        height: 70px;
        background-size: cover;
        transition: all 1s;
        transform: scale(1);
        border: 1px solid black;
        border-radius: 50%;
        &:hover {
            transition: all 0.5s;
            transform: scale(1.5);
            border-radius: 10%;
        }
    }
}
@keyframes slidelaft {
    0% {
        transform: translateX(25%);
    }
    100% {
        transform: translateX(-20.5%);
    }
}

.skillname {
    @include flex();
    user-select: none;
    font-size: 0.8rem;
    position: relative;
    transition: all 1s;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: #33333344;
    color: #fff;
    opacity: 0;
    &:hover {
        transition: all 0.5s;
        border-radius: 10%;
        opacity: 1;
    }
}
@include mobileMore {
    .guide {
        left: 30vw;
    }
}
@include tabletMore {
    .skill .autoslide1 {
        animation-duration: 14s;
        div {
            margin: 0px 20px;
            .skillname {
                left: -20px;
            }
        }
    }
    .guide {
        left: 35vw;
    }
}
//main3
.main3 {
    position: sticky;
    top: 50px;
    user-select: none;
    min-height: 100vh;
    background: rgb(255, 255, 255);
}
.pjtitle {
    @include flex($fd: column, $jc: flex-start);
    z-index: 0;
    position: absolute;
    background: rgba(170, 252, 94, 0);
    margin: 0px;
    height: 100%;
    width: 100%;
    text {
        z-index: 3;
    }
}
.section {
    @include flex($fd: column, $ai: flex-start);
    width: 100vw;
    height: 80vh;
    border-right: 1px solid grey;
}
.poject {
    @include flex($jc: flex-start);
    padding-top: 100px;
    height: 90vh;
    background: rgb(255, 255, 255);
}

.swiper {
    width: 70%;
    height: 50vh;
    top: -50px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    .imgpc {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .imgm {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.code {
    display: none;
    font-size: 0.8rem;
    p {
        margin: 15px;
        font-weight: 700;
        text-shadow: 1px 1px gray;
    }
}
.pjtext {
    h1 {
        text-shadow: 1px 1px gray;
        border-bottom: 2px solid gray;
        display: inline-block;
    }
    b {
        margin: 5px;
        font-weight: 700;
        text-shadow: 1px 1px gray;
    }
    div {
        margin: 16px 0px;
    }
}
@include mobileMore {
    .main3 .section {
        flex-direction: row;
        .pjtext {
            width: 50%;
            .inner div {
                font-size: 1rem;
            }
            .code {
                display: block;
            }
        }
        .swiper {
            top: 0;
            height: 70vh;
            margin-left: 40px;
            width: 50%;
        }
    }
}
@include tabletMore {
    #main3 {
        .pjtext {
            width: 45%;
        }
        .swiper {
            width: 55%;
        }
        .inner div {
            font-size: 1rem;
        }
    }
}
//footer

#footer {
    @include flex($fd: column);
    height: 200px;
    background: #333;
}
.pjtext {
    @include flex($ai: flex-start);
    height: 70vh;
    font-size: 1rem;
    line-height: 1.8;
    h1 {
        font-size: 2rem;
        margin: 10px 0px;
    }
    .inner div {
        padding: 3px;
        font-size: 0.8rem;
    }
}

// 추가
#topbutten {
    @include flex();
    color: white;
    font-size: 1.1rem;
    width: 55px;
    height: 55px;
    position: fixed;
    opacity: 1;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    background: #000000;
}
.icon {
    width: 80px;
    height: 80px;
    background: #fff;
    z-index: 2;
    border-radius: 50%;
}
.githuba {
    width: 100%;
    height: 100%;
    z-index: 3;
}

.link {
    @include flex();
    border: 2px solid #333;
    min-width: 100px;
    width: 10vw;
    font-size: 1.5rem;
    font-weight: 800;
    background: #333;
    a {
        color: #fff;
    }
}
.tans {
    font-size: 1.5rem;
    color: white;
    font-weight: 800;
    margin-bottom: 30px;
}

::-webkit-scrollbar {
    position: absolute;
    width: 5px;
    background-color: rgba(255, 255, 255, 0.973);
    z-index: 1;
    //display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(127, 127, 128);
}
.pjbutoon {
    @include flex($jc: flex-start);
    position: absolute;
    bottom: 80px;
    div {
        margin-left: 10px;
    }
    .link .video {
        font-size: 1.2rem;
        color: white;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
}

#tooltep {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #77777777;
    z-index: 7;
    #close {
        @include flex();
        position: absolute;
        background: rgb(255, 199, 114);
        font-size: 1.5rem;
        font-weight: 800;
        width: 50px;
        height: 50px;
        right: 10vw;
        top: 10vh;
        text-shadow: 1px 1px white;
        cursor: pointer;
    }
}
.tvideo {
    @include flex();
    background: rgb(255, 255, 255);
    height: 80vh;
    width: 80vw;
    iframe {
        height: 80%;
        width: 80%;
    }
}

.codepo {
    font-size: 1.1rem;
    background: #92929273;
    width: 50px;
    border-radius: 15%;
}
